h2{
    color: #887CAF;
    text-align: center;
    border: 5px solid #5b4897;
    font-size: xx-large;
    font-family:cursive ;
    background-color: #3506cf;
    width: fit-content;
    display: flex;
    background-size: cover;
    justify-content: center;
    margin: auto;

    
}

body{
    background-image: url(https://preview.redd.it/ifw1keannjw41.jpg?auto=webp&s=e123ab1d8fc20faed9894298f7efbd6cde32aab5);
    background-size: cover;
}




.mainBlock{
    
    color: #6976f0;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1d007e;
    margin: auto;
    width: 70%;
    background-size: cover;
    border: 7px solid #050114;
    background-repeat: repeat-y;
    background-image: url(https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=20&m=1216628493&s=612x612&w=0&h=Ps0v4tx0r5q9dSXqKi9cdz-6EHWOW8LpWjyJT_dnJF8=);
}

.bottomText{
    font-weight: bolder;
    color: #b2a6d6;
    text-align: center;

}


li{
    color: #887CAF;
    
}

.insults{
    display: block;
    font-size: x-large;
    list-style: square;
    width: 80%;
    text-align: left;
    min-width: 200px;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d007e;
    background-image: url(https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=20&m=1216628493&s=612x612&w=0&h=Ps0v4tx0r5q9dSXqKi9cdz-6EHWOW8LpWjyJT_dnJF8=);
    border: 4px solid #0d0133;
    background-size: cover;
    box-shadow: 0px 0px 20px 2px #0d0133;
}   


.links{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



a{
    color: #6976f0;
}

